<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}{% endblock meta %}

  <title>Journals</title>
  <link  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    {#
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.css" media="all" rel="stylesheet" />
    #}
  <link  href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  media="all" rel="stylesheet" />
  <style type="text/css">
    .failed { color: red; }
    table tr td:nth-child(3) { text-align:right; }
  </style>
</head>
<body id="top">
  <div class="container">
      <h2>Journals converted</h2>
      <table class="table">
          <tr><th>Link</th><th>ISSN</th><th>Failed/Total</th></tr>
      {% for fname, issn, num, journal, nfailed in journals %}
        <tr><td><a href="{{fname}}">{{journal}}</a></td>
            <td>{{issn}}</td>
            <td class="{% if nfailed> 0 %}failed{%else%}ok{% endif %}">{{nfailed}}/{{num}}</td>
        </tr>
      {% endfor %}
      </table>
  </div>
</body>
</html>
