<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}{% endblock meta %}

  <title>{{issn}} | {{this.journal}}</title>
  <link  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    {#
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.css" media="all" rel="stylesheet" />
    #}
  <link  href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  media="all" rel="stylesheet" />
  <style type="text/css">
    .missing { color: red; }
    b.primer { color: blue; }
    ol.failed { color: #888; }
  </style>
</head>
<body id="top">
  <div class="container">

  <h1>Journal {{issn}} &mdash; {{this.journal}}</h1>
  <a href="../index.html">back to index</a>

  <br/>
  <span class="label label-danger">m</span>: missing Methods section,
  <span class="label label-danger">r</span>: missing Results section,
  <span class="label label-danger">a</span>: missing Abstract
  <br/>
  <h3>Scanned</h3>
  <ol>
    {% for p, e in papers %}
      <li><a href="#{{p.pmid}}">{{p.pmid}}</a> {% if e.has_all_sections() %}{% else %}
        <span class="label label-danger">{{e.missing()}}</span>{% endif %}
        ({{p.year}}) {{e.s_title()}}
        (<a href="https://ncbi.nlm.nih.gov/pubmed/{{p.pmid}}">ncbi</a>)
    </li>
    {% endfor %}
  </ol>
  {% if failed|length > 0 %}
  <h3>Failed</h3>
  <ol class="failed">
    {% for p in failed %}
      <li>{{p.pmid}} doi:<a href="https://doi.org/{{p.doi}}" target="pmid{{p.pmid}}">{{p.doi}}</a>
        ({{p.year}}) {% if p.title %}{{p.title}}{% endif %}
        (<a href="https://ncbi.nlm.nih.gov/pubmed/{{p.pmid}}">ncbi</a>)
    </li>
    {% endfor %}
  </ol>
  {% endif %}
  <hr/>
  {% for p, e in papers %}
    <div id="{{p.pmid}}" class="panel panel-default">

      <h2>PMID:{{p.pmid}} ({{p.year}})</h2>
      <h3>{{e.s_title()}}</h3>
      doi:<a href="http://doi.org/{{p.doi}}" target="pmid{{p.pmid}}">{{p.doi}}</a>.
      Go to <a href="#top"> top<i class="fa fa-angle-up"></i></a>
      {% set abstract = e.s_abstract() %}
      {% if abstract is not none %}
          <h3>Abstract</h3>
          {% for txt in e.tostr(abstract) %}
              <p>{{txt}}<p>
          {% endfor %}
      {% else -%}
          <h2 class="missing">Abstract</h2>
      {%- endif %}
      {% set results = e.s_results() %}
      {% if results is not none %}
          <h3>Results</h3>
          {% for txt in e.tostr(results) %}
              <p>{{txt|prime}}</p>
          {% endfor %}
      {% else -%}
          <h2 class="missing">Results</h2>
      {%- endif %}
      {% set methods = e.s_methods() %}
      {% if methods is not none %}
          <h3>Methods</h3>
          {% for txt in e.tostr(methods) %}
              <p>{{txt|prime}}</p>
          {% endfor %}
      {% else -%}
          <h2 class="missing">Methods</h2>
      {%- endif %}
      {#
      {% set xrefs = e.s_xrefs() %}
      {% if xrefs %}
        {% for j in xrefs %}
        <a href="https://doi.org/{{j.doi}}">{{j.title}}</a>,
        {% endfor %}
      {% endif %}
      #}
    </div>
{% endfor %}
  </div>
</body>
</html>
