<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}{% endblock meta %}

  <title>{{issn}}</title>
  <link  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    {#
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.css" media="all" rel="stylesheet" />
    #}
  <link  href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  media="all" rel="stylesheet" />
  <style type="text/css">
    .missing { color: red; }
  </style>
</head>
<body id="top">
  <div class="container">

  <h1>Journal {{issn}} &mdash; {{this.journal}}</h1>
  <ol>
    {% for p, e in papers %}
      <li><a href="#{{p.pmid}}">{{p.pmid}}</a> {% if e.has_all_sections() %}{% else %}<span class="label label-danger">x</span>{% endif %}
        {{e.title()}}
      </li>
    {% endfor %}
  </ol>
  {% for p, e in papers %}
    <div id="{{p.pmid}}" class="panel panel-default">

      <h2>{{p.pmid}} ({{p.year}})</h2>
      <h3>{{e.title()}}</h3>
      <a href="http://doi.org/{{p.doi}}" target="pmid{{p.pmid}}">{{p.doi}}</a> <a href="#top">top</a>
      {% set abstract = e.abstract() %}
      {% if abstract is not none %}
          <h3>Abstract</h3>
          {% for txt in e.tostr(abstract) %}
              <p>{{txt}}<p>
          {% endfor %}
      {% else -%}
          <h2 class="missing">Abstract</h2>
      {%- endif %}
      {% set results = e.results() %}
      {% if results is not none %}
          <h3>Results</h3>
          {% for txt in e.tostr(results) %}
              <p>{{txt}}<p>
          {% endfor %}
      {% else -%}
          <h2 class="missing">Results</h2>
      {%- endif %}
      {% set methods = e.methods() %}
      {% if methods is not none %}
          <h3>Methods</h3>
          {% for txt in e.tostr(methods) %}
              <p>{{txt}}<p>
          {% endfor %}
      {% else -%}
          <h2 class="missing">Methods</h2>
      {%- endif %}
    </div>
{% endfor %}
  </div>
</body>
</html>
